@import "tailwindcss";



.wrapper {
    height: 100vh;
    perspective: 20px;
  
    overflow-y: auto;
    overflow-x: hidden;
    
  
}

header {
    position: relative;
    z-index: -1;
    transform-style: preserve-3d;
    height: auto;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
    

}

.wrappers-wrapper {
  /* background-image: url('https://techcircuitworld.com/wp-content/uploads/2024/08/istockphoto-1497558248-612x612-2.webp') ; */
    z-index : -40;
   
}


.success-screen {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px) ;
  -webkit-backdrop-filter: blur(3px) ;
}




.mybackground {
    width: 100%;
    height: 180vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    


}



.mybackground {
    transform: translateZ(-40px) scaleY(3.2) scaleX(3);

}

/* section {
    background-image: url('https://techcircuitworld.com/wp-content/uploads/2024/08/istockphoto-1497558248-612x612-2.webp');
    height: 500px;
    color: white;
    padding: 20px;

   
    
} */

.gadget-name {
  
  -webkit-text-stroke: 1px teal;
}

.nav-clr {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(3px)  saturate(180%);
  backdrop-filter: blur(3px)  saturate(180%);
  color: white;
  border: 0.1px solid white;
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.4);
}


.gadget-cards {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(3px)  saturate(180%);
    backdrop-filter: blur(3px)  saturate(180%);
    color: white;
    border: 0.1px solid white;
    border-radius: 8px;
    padding: 2.5rem;
    box-shadow: inset -10px -10px 8px rgba(255, 255, 255, 0.4);

}

.custom-bg-image {
    /* background-image: url('https://techcircuitworld.com/wp-content/uploads/2024/08/istockphoto-1497558248-612x612-2.webp'); */
}


.exo-text {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  .custom-btn {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px) ;
    transition: 0.2s ease-in-out;
    border-radius: 6px;
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .btn-pink {
    
    color: mediumvioletred;
    border: 1px solid mediumvioletred;
  }

  .btn-green {
    border: 1px solid darkgreen;

    color: darkgreen;
  }



  .btn-pink:hover {
    background-color: violet;
    color: white;
    transform: scale(1.1);

  }

  .btn-green:hover {
    background-color: green;
    color: white;
    transform: scale(1.1);

  }


  @media (max-width: 760px) {
    .cards-container {
      width: 99%
    }
  }

  @media (min-width: 768px) {
    .cards-container {
      width: 90%
    }
  }

  @media (max-width: 760px) {
    .gadget-image {
      width: 90%;
      height: 200px;
      margin-top: 2rem;
    }
  }

  @media (min-width: 761px) {
    .gadget-image {
      margin-top: 2.5rem;
      width: 70%;
      height: 400px;
      
    }
  }

  @media (min-width: 998px) {
    .gadget-image {
      margin-top: 2.5rem;
      width: 50%;
      height: 400px;
      
    }
  }
  
  

 

